# Importing Data

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree

In [2]:
houses = pd.read_csv('/Users/merlesteffen/Documents/GitHub/HousingPrices/Data/housing-classification-iter-0-2.csv')

In [3]:
houses.isna().sum()

LotArea           0
LotFrontage     259
TotalBsmtSF       0
BedroomAbvGr      0
Fireplaces        0
PoolArea          0
GarageCars        0
WoodDeckSF        0
ScreenPorch       0
Expensive         0
dtype: int64

In [4]:
houses.describe().round(2)

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,Expensive
count,1460.00,1201.00,1460.00,1460.00,1460.00,1460.00,1460.00,1460.00,1460.00,1460.00
mean,10516.83,70.05,1057.43,2.87,0.61,2.76,1.77,94.24,15.06,0.15
std,9981.26,24.28,438.71,0.82,0.64,40.18,0.75,125.34,55.76,0.36
min,1300.00,21.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,7553.50,59.00,795.75,2.00,0.00,0.00,1.00,0.00,0.00,0.00
50%,9478.50,69.00,991.50,3.00,1.00,0.00,2.00,0.00,0.00,0.00
75%,11601.50,80.00,1298.25,3.00,1.00,0.00,2.00,168.00,0.00,0.00
max,215245.00,313.00,6110.00,8.00,3.00,738.00,4.00,857.00,480.00,1.00

In [5]:
houses.sort_values(by='BedroomAbvGr', ascending=False)

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,Expensive
635,10896,60.0,1440,8,0,0,0,0,0,0
570,13101,74.0,1728,6,0,0,2,0,0,0
1350,11643,91.0,1248,6,0,0,4,0,0,0
291,5687,55.0,780,6,0,0,0,0,0,0
144,9100,70.0,1728,6,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1163,12900,60.0,1198,0,0,0,2,120,0,0
53,50271,68.0,1842,0,1,0,3,857,0,1
189,4923,41.0,1593,0,1,0,2,0,224,1
634,6979,64.0,1056,0,0,0,2,264,0,0
1270,23595,NaN,1332,0,1,0,2,268,0,1

# Train-Test Split

In [6]:
X = houses.drop(columns='Expensive')
y = houses['Expensive']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=31416)

# Handle Missing Values

In [7]:
columns = X_train.columns
imp = SimpleImputer(missing_values=np.nan, strategy='median')
imp.fit(X_train)
X_train_imputed = imp.transform(X_train)
X_test_imputed = imp.transform(X_test)
X_train = pd.DataFrame(X_train_imputed, columns=columns )
X_test = pd.DataFrame(X_test_imputed, columns=columns)

# Pipelines

# Cross Validation

# Grid Search